


    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title class="card-title">
          {{title}}
        </mat-card-title>
        <mat-card-subtitle>
          Shutdown|Total
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div fxLayout="row wrap" fxFlexAlign="space-around cente"  fxLayoutGap="10" >
          <div>
            <a mat-fab extended color="warn" class="mat-button-status">
              ST 010 AV Assy
            </a>
          </div>

          <div>
            <a mat-fab extended color="warn" class="mat-button-status">
              ST 020 O Ring Assy
            </a>
          </div>

          <div>
            <button mat-fab extended color="warn" class="mat-button-status">

              Warn
            </button>
          </div>

          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>

          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>

          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>
          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>
          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>
          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>
          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>
          <div>
            <button mat-fab extended color="warn" class="mat-button-status">
              <mat-icon>favorite</mat-icon>
              Warn
            </button>
          </div>
        </div>


      </mat-card-content>
    </mat-card>






