
<div class="grid-container">
 <mat-grid-list rowHeight="350px"
                 cols="3">

    <mat-grid-tile [colspan]="1"
                   [rowspan]="2">
        <CMI-site-oee class="dashboard-card" />
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1"
                  [rowspan]="1">
      <CMI-line-status class="dashboard-card" />
    </mat-grid-tile>
   <mat-grid-tile [colspan]="1"
                  [rowspan]="1">
     <CMI-line-status class="dashboard-card" />
   </mat-grid-tile>

   <mat-grid-tile [colspan]="1"
                  [rowspan]="1">
     <CMI-line-status class="dashboard-card" />
   </mat-grid-tile>


    </mat-grid-list>
</div>
